header{
  height: 48px;
  text-align: center;
  background-color: #001529;
  color: #fff;
  font-size: 18px;
  line-height: 48px;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,
  Helvetica,Arial,
  sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
