@import '~antd/dist/antd.less';
.root{
  height: 100%;
  .app{
    height: 100%;
    section{
      height: 100%;
    }
  }
}
.sider{
  background:#fff;
  height:100%;
  position:relative;
  .sider-button{
    position:absolute;
    bottom:0;
    .sider-button-icon{
      float: left;
    }
  }
}
